#header {
    font-family: sans-serif;
    text-align: center;
    color: white;
    padding: 200px;
}

#header h1 {
    font-size: 70px;
    font-weight: lighter;
}

#header p {
    font-size: 20px;
}

.navbar {
    overflow: hidden;
    background-color: #07192f;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a.right {
    float: right;
}

.navbar a:hover {
    background-color: gray;
    color: black;
}

#vantajs {
    width: auto; height: 600px; margin-bottom: 10px;
  }