body {
    margin: 0;
}

.navbar {
    overflow: hidden;
    background-color: #07192f;
    font-family: sans-serif;
    font-weight: lighter;
}

.navbar a {
    float: left;
    display: block;
    color: #f1f4f7;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a.right {
    float: right;
}

.navbar a:hover {
    color: lightpink;
}

#content {
    font-family: sans-serif;
    font-weight: lighter;
    text-align: left;
    color: #28292b;
    padding: 100px;
}